# Local Netlify folder
# dependencies
node_modules/

# builds
dist/

# local env (secrets)
.env
.env.*
!.env.example

# Local Netlify folder
.netlify

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# python venv
.venv/
__pycache__/
*.pyc
